@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

p {
  color: #fafafa;
  margin-bottom: 10px;
}

h3 {
  color: #fafafa;
  margin-bottom: 10px;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
  padding: 0px;
  width: 100%;
}

.header {
  width: 100%;
  padding: 20px;
  padding-inline: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #16162d;
}

.icon {
  height: 40px;
  margin: 10px;
}

.title {
  color: #fafafa;
  font-size: 20px;
}

.container {
  position: relative;
  min-height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./background.jpg");
  background-size: cover;
  background-position: center;
  opacity: 0.5;
  z-index: -1;
}

.timer {
  margin: 20px;
  color: #fafafa;
  font-size: 20px;
}

.scoreBox {
  padding: 10px;
  border: solid 3px;
  border-color: #5723e7;
  border-radius: 10px;
  background-color: #42474d81;
  display: flex;
  flex-direction: row;
}

.scoreTitle {
  margin-inline: 10px;
  color: #fafafa;
  font-size: 20px;
  font-weight: bold;
}

.score {
  margin-inline: 10px;
  color: #5723e7;
  font-size: 20px;
  font-weight: bold;
}

.button-grid {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button {
  margin: 20px;
  background-color: #5723e7;
  border: solid 3px;
  border-color: #16162d;
  border-radius: 20px;
  color: #fafafa;
  font-size: 26px;
  font-weight: bold;
  height: 100px;
  width: 100px;
  cursor: pointer;
}

.iniciar {
  background-color: #5723e7;
  color: #fafafa;
  border: solid 3px;
  border-radius: 10px;
  border-color: #16162d;
  padding: 20px 80px;
  font-size: 20px;
  font-weight: bold;
}

.numbers {
  color: #fafafa;
  font-size: 20px;
  margin-bottom: 20px;
}

.info {
  background-color: #16162d;
  width: 100%;
}

.footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 20px;
  background-color: #5723e7;
}

.github {
  width: 120px;
}

.gitButton {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #fafafa;
  border: solid 3px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footerBox {
  width: 33%;
  padding: 10px;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 100%;
}

.info {
  padding: 40px;
}

.sobre {
  color: #fafafa;
  background-color: #fafafa00;
  font-size: 32px;
  cursor: pointer;
  border: none;
  font-weight: bold;
}
.emoji {
  font-size: 26px;
  color: #5723e7;
  margin: 20px;
}

@media (max-width: 1440px) {
  .button-grid {
    margin: 10px;
  }
  .button {
    margin: 10px;
    font-size: 20px;
    height: 80px;
    width: 80px;
  }

  .scoreBox {
    padding: 5px;
  }
}

@media (max-width: 720px) {
  .button-grid {
    margin: 10px;
  }

  .button {
    margin: 5px;
    font-size: 16px;
    height: 45px;
    width: 45px;
    border-radius: 10px;
    border: solid 1px;
  }

  .timer {
    font-size: 16px;
  }

  .score {
    font-size: 16px;
  }

  .scoreTitle {
    font-size: 16px;
  }

  .numbers {
    font-size: 16px;
  }

  .sobre {
    font-size: 20px;
  }

  .footer {
    flex-direction: column;
  }

  .footerBox {
    width: 100%;
  }
}
